Source: yapps2
Section: python
Priority: optional
Maintainer: Matthias Urlichs <smurf@debian.org>
Build-Depends-Indep: debhelper (>= 4.1), python, python-dev (>= 2.2), hevea
Standards-Version: 3.6.1

Package: yapps2
Architecture: all
Depends: python (>= 2.2), python (<< 2.4)
Description: Yet Another Python Parser System
 YAPPS is an easy to use parser generator that is written in Python and
 generates Python code.  There are several parser generator systems
 already available for Python, but this parser has different goals:
 Yapps is simple, very easy to use, and produces human-readable parsers.
 .
 It is not the fastest or most powerful parser.  Yapps is designed to be
 used when regular expressions are not enough and other parser systems
 are too much: situations where you might otherwise write your own
 recursive descent parser.
 .
 This package contains several upward-compatible enhancements to the
 original YAPPS source:
 .
     - handles recursive input ("include files")
     - better error reporting
     - reads input incrementally
